
# Outputs
src/**/*.js
src/**/*.js.map
src/**/*.d.ts

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*
dist
kodyfire.code-workspace
# Mac OSX Finder files.
**/.DS_Store
.DS_Store
src/kodyfire/technologies
src/core
#npm
.npmrc
#api-extractor.json
temp/
target/

#lerna
/.changelog

#kodyfire
.kody
dist
.env
lerna-debug.log
frontend.json
backend.json